<h2>Product Details</h2>

<div *ngIf="client">
  <h3>{{ client.business }}<Br>{{ client.address }} {{ client.city }}, {{ client.state }} {{ client.zip }}</h3>
  <p>Name: {{ client.owner }}<br>Phone: {{ client.phone | phone:'US' }}<br>Email: {{ client.email }}</p>
  <p>Area of Interest: {{client.fliplocation}}</p>
  <hr>
  <ul>
    <li *ngFor="let house of client.homes">
      <pre>{{ house | json }}</pre>
    </li>
  </ul>
  <h3>Recently Flipped Homes:</h3>
  <app-house-mapper></app-house-mapper>
</div>